
*{
    margin: 0;
    box-sizing: border-box;
}
.heading{
    height:85vh;
    background-image: url('https://wallpaperaccess.com/full/697405.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

body{
    background-color: rgb(29, 28, 28);
}
.movie-cards{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    background-color: rgb(31, 30, 30);
    width: 310px;
    margin: 2rem;
    position: relative;

}
.overview{
    position: absolute;
    background-color: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 90%;
    padding: 1rem;
    visibility: hidden;
    font-size: 20px;
    font-weight:500;
    color: rgb(58, 57, 57);
    overflow:scroll;
    font-family: Poppins;
    
}
.card:hover .overview{
    visibility: visible;
    transition: 0.3s ,ease-in;
    max-height: 60%;
}
.overview>h4{
    color: rgb(41, 41, 41);
    font-family:Poppins;
    
}
.card>img{
    width:310px;
    border-radius: 10px;
}
.btn{
    background-color: rgb(70, 69, 69);
    border: none;
    width:10rem;
    height:3rem;
    margin-right: 30px;
    color: white;
    border-radius: 5px;
    font-weight: 800;
    font-size: large;
    cursor: pointer;
    font-family:ABeeZee;
    margin-top: 1rem;
}
.Movietitle{
    align-items: center;
    justify-content:space-between;
    color: red;
    display: flex;
    font-size: larger;
}
#horizontal{
    height:5px;
    background-color: red;
    margin-top: 0;
    margin-bottom: 10px;
}
nav>ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: end;
    margin-right: 70px;
    padding-top: 50px;

}
nav>ul>li{
    padding-left: 50px;
    font-size: 2rem;
    color: white;
    font-weight: 800;
}
.title{
    text-decoration: underline;
    color: rgb(167, 9, 9);
    font-size: 18px; 
    max-width: 150px;
}
#blogs{
    margin-left: 2rem;
    color: white;
    margin-top: 7%;
    margin-bottom: 4%;
}
#blogs>h2{
    font-size: xx-large;
    text-decoration: underline;
    font-weight: bolder;
    font-family:ABeeZee;
    margin-bottom: 3rem;
}
#newsTemplates{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.newCard{
    color: white;
    margin: 15px;
    width: 500px;
    max-height: 500px;
}
.newCard>img{
    max-width: 500px;
}
.contents{
    
}




#footer{
    height: 20rem;
    background-color: rgb(70, 69, 69);
}
.fa {
    padding: 20px;
    width: 50px;
    text-decoration: none;

    
  }
  
  .fa:hover {
      opacity: 0.5;
      font-size: 60px;
      color: red;
  }
  
  .fa-facebook, .fa-twitter, .fa-linkedin{
    color: rgb(204, 243, 243);
    margin-right: 40px;
  }
  
  .icons{
    margin-top: 60vh;
    padding-left: 2%;
    font-size: 50px;
    align-items: center;
  }
